{% load static %}
{% load base64_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} | by {{ post.author.username }}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-screen h-screen flex flex-col overflow-x-hidden">
        {% include 'components/base_header.html' %}
        <div class="w-[60%] h-0 mx-auto flex flex-grow flex-col gap-5">
            <h1 class="mt-[100px] font-sans font-semibold text-4xl text-justify">{{ post.title }}</h1>
            <div class="w-full flex items-center gap-5 relative">
                <a href="{% url 'blog:profile' username=post.author.username %}" class="w-10 h-10 rounded-full flex items-center justify-center border border-black/70">
                    {% if post.author.picture %}
                        <div style="background-image: url('data:image/jpeg;base64,{{ post.author.picture|base64encode }}')" class="w-full h-full rounded-full bg-center bg-cover"></div>
                    {% else %}
                        <img src="{% static 'images/user_default_icon.png' %}" alt="User default image" class="w-full h-full">
                    {% endif %}
                </a>
                <div class="flex flex-col gap-1">
                    <a href="{% url 'blog:profile' username=post.author.username %}" class="font-semibold hover:underline">{{ post.author.username }}</a>
                    <span class="text-sm">{{ post.created_at|timesince }} ago</span>
                </div>
                <a href="{% url 'blog:like_post' username=post.author.username post_id=post.id %}" class="absolute right-0 text-sm flex items-center gap-3">
                    {% if user_liked %}
                        <img src="{% static 'images/full_heart_icon.png' %}" alt="Void heart" class="w-4">
                    {% else %}
                        <img src="{% static 'images/void_heart_icon.png' %}" alt="Void heart" class="w-4">
                    {% endif %}
                    <span>{{ post.likes.count }}</span>
                </a>
            </div>
            {% if post.picture %}
                <div style="background-image: url('data:image/jpeg;base64,{{ post.picture|base64encode }}')" class="w-full min-h-[250px] rounded-[2px] bg-center bg-cover"></div>
            {% else %}
                <img src="{% static 'images/post_default_image.png' %}" alt="User default image" class="w-full h-[250px] rounded-[2px]">
            {% endif %}
            <p class="whitespace-pre-wrap text-justify text-base font-serif">{{ post.story }}</p>
            {% if post.author.username == request.user.username %}
                <div class="w-full mt-10 flex items-center justify-center gap-4 text-sm">
                    <a href="{% url 'blog:update_post' username=request.user.username post_id=post.id %}" class="w-[115px] h-[30px] flex items-center justify-center rounded-3xl cursor-pointer border border-zinc-500 hover:bg-zinc-200">Edit post</a>
                    <a href="{% url 'blog:delete_post' post_id=post.id %}" class="w-[115px] h-[30px] cursor-pointer flex items-center justify-center rounded-3xl bg-red-500 text-white hover:bg-red-500/90">Delete post</a>
                </div>
            {% endif %}
            <div class="w-full mt-10 flex flex-col gap-4">
                <h2 class="font-semibold text-2xl">Responses: ({{ comments|length }})</h2>
                {% if post.author.username != request.user.username %}
                    <form method="post" action="{% url 'blog:comment_post' username=post.author.username post_id=post.id %}" class="w-full flex items-center justify-between border rounded px-2 py-1 border-black/50">
                        {% csrf_token %}
                        <label class="w-full">
                            <input name="comment" placeholder="What are you thoughts?" class="w-[90%] flex-1 placeholder:text-zinc-500 focus:outline-none">
                        </label>
                        <button type="submit" class="text-sm rounded px-[6px] py-1 cursor-pointer text-white bg-green-500">Respond</button>
                    </form>
                {% endif %}
                {% if comments %}
                    {% for comment in comments %}
                        <div class="w-full flex flex-col gap-3 justify-center border-b pb-4 border-black/50">
                            <div class="flex gap-3 items-center">
                                <a href="{% url 'blog:profile' username=comment.author.username %}" class="w-10 h-10 border rounded-full cursor-pointer border-black/50">
                                    {% if comment.author.picture %}
                                        <div style="background-image: url('data:image/jpeg;base64,{{ comment.author.picture|base64encode }}')" class="w-full h-full rounded-full bg-center bg-cover"></div>
                                    {% else %}
                                        <img src="{% static 'images/user_default_icon.png' %}" alt="User default image" class="w-full h-full">
                                    {% endif %}
                                </a>
                                <div class="flex flex-col gap-1">
                                    <a href="{% url 'blog:profile' username=comment.author.username %}" class="font-semibold cursor-pointer hover:underline">{{ comment.author.username }}</a>
                                    <span class="text-xs">{{ comment.created_at|timesince }} ago</span>
                                </div>
                            </div>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <span>No comments yet.</span>
                {% endif %}
            </div>
            <div class="w-full h-10 pb-10"></div>
        </div>
    </main>
</body>
</html>
